body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #87ceeb;
    margin: 10px;
}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.add-btn {
    background: #28a745;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li input[type="text"] {
    border: none;
    background: none;
    font-size: 16px;
    flex-grow: 1;
    margin-right: 10px;
}

ul li input[type="text"]:disabled {
    background: none;
}

.icons {
    display: flex;
    gap: 10px;
}

.icons i {
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

.icons i:hover {
    color: #007bff;
}

.icons .fa-trash:hover {
    color: #dc3545;
}